go 1.23.0

toolchain go1.24.2

use (
	./activation-service
	./farmerbot
	./grid-cli
	./grid-client
	./grid-proxy
	./gridify
	./messenger
	./monitoring-bot
	./rmb-sdk-go
	./tfrobot
	./tools/relay-cache-warmer
	./user-contracts-mon
)
