name: proxy Unit tests

defaults:
  run:
    working-directory: grid-proxy

on:
  push:
    paths:
      - grid-proxy/**
  pull_request:
    types: [opened, reopened, review_requested]
    paths:
      - grid-proxy/**
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21

      - name: Build
        run: |
          export PATH=/home/runner/go/bin:$PATH
          export GIT_COMMIT=$(git rev-list -1 HEAD) 
          go build -ldflags "-X main.GitCommit=$GIT_COMMIT" cmds/proxy_server/main.go
        env:
          GO111MODULE: on

      - name: Test
        run: |
          go test -v ./pkg/client
