name: Grid client integration tests

defaults:
  run:
    working-directory: grid-client
on:
  schedule:
    - cron: 0 3 * * *
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        network: [dev, qa, test, main]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v4

      - name: Get dependencies
        run: |
          go mod download

      - name: install curl, wg and mycelium and add peers
        run: |
          sudo apt-get update
          sudo apt-get install -y wireguard
          sudo apt-get install dirmngr
          sudo apt-get install curl
          wget https://github.com/threefoldtech/mycelium/releases/download/v0.5.4/mycelium-x86_64-unknown-linux-musl.tar.gz
          tar xzf mycelium-x86_64-unknown-linux-musl.tar.gz
          sudo ./mycelium --peers tcp://188.40.132.242:9651 quic://185.69.166.8:9651 --tun-name utun9 -k /tmp/mycelium_priv_key.bin &

      - name: Test
        env:
          MNEMONICS: ${{ secrets.MNEMONICS }}
          NETWORK: ${{ matrix.network }}
        # run: make integration
        run: |
          for test in $(go run scripts/scrap_tests/scrap_tests.go)
          do
            go test -v ./integration_tests -run $test
          done
