name: gridify tests

defaults:
  run:
    working-directory: gridify

on:
  push:
    paths:
      - gridify/**
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.19"
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3.5.3
        with:
          submodules: "true"

      - name: Get dependencies
        run: |
          go mod download

      - name: Test
        run: go test -v ./...

      - name: Coverage
        run: make coverage
