name: Lint sdk

on:
  push:
  workflow_dispatch:

jobs:
  test:
    name: Run Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          working-directory: ${{ matrix.dir }}
          args: --config=../.golangci.yml

    strategy:
      fail-fast: false
      matrix:
        dir:
          - activation-service
          - farmerbot 
          - grid-cli
          - grid-client
          - grid-proxy
          - gridify
          - monitoring-bot
          - rmb-sdk-go
          - user-contracts-mon 
          - tfrobot
