name: monbot test

defaults:
  run:
    working-directory: monitoring-bot

on:
  push:
    paths:
      - monitoring-bot/**
  workflow_dispatch:

jobs:
  Explore-Package:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install GO
        uses: actions/setup-go@v4
        with:
          go-version: 1.19

      - name: Test
        run: go test -v ./...
